body{
    background-color: rgb(204, 206, 207);
    display: flex;
    justify-content: center;
    align-items: center;
}

#caixa{
    background-color: #ddeeff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 15%;
    padding: 20px;
    border-radius: 10px;
}

#botão_1{
    background-color: rgb(28, 195, 50);
    color: #fff;
    cursor: pointer;
    border: 0px;
    margin: 10px;
    padding: 5px;
}

input{
    padding: 5px;
    margin: 5px;
}